.wrapper {
  display: flex;
}

.red {
  color: rgb(165, 31, 31);
}

.green {
  color: rgb(42, 137, 42);
}

.wrapper * {
  flex-grow: 1;
  text-align: center;
}

button {
  width: 100%;
}

a {
  text-decoration: none;
}
